/** GENERAL */

* {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.box-shadow {
  box-shadow: 4px 4px 6px #777;
}

/** HEADER */

header {
  font-weight: 400;
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 2px 0 0 #f5f5f5;
}

.header-mobile {
  width: 100%;
  display: none;
}

.header-mobile-top {
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  box-shadow: 0 2px 0 0 #f5f5f5;
}

#mobile-header-links {
  display: none;
}

#mobile-header-links > .link {
  padding: 0.5em 0;
}

.you-are-here {
  color: teal !important;
}

.link:hover {
  border-bottom: 2px solid teal;
}

.icon {
  width: 40%;
}

.foxy {
  height: 25px;
  width: 25px;
}

/** CONTENT IN PAGE */

.middle {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#links > a {
  font-size: 2em;
  margin: 0 0.5em;
}

/** MEDIA QUERIES */

/** Tablet */
@media (max-width: 768px) {
  /** HEADER */
  header {
    display: none;
  }

  header.header-mobile {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  /** GENERAL */
  body {
    background: #33313b;
    color: white;
  }

  .box-shadow {
    box-shadow: 4px 4px 6px black;
  }

  /** HEADER */

  header,
  .header-mobile-top {
    box-shadow: 0 2px 0 0 teal;
  }

  .link > a {
    color: white;
  }

  .link:hover {
    border-bottom: 2px solid #12bbbb;
  }

  .you-are-here {
    color: #04bfbf !important;
  }

  /** GENERAL */

  .fas,
  .fab {
    color: #04bfbf;
  }

  .typer {
    color: white !important;
  }
}
